{% extends "base.html" %}

{% block title %}Fixed Income Dashboard{% endblock %}

{% block head %}
    {{ super() }}
    <!-- For the chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>

    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Flatpickr dark theme or Bootstrap-like theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">

    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- Parse data from back end-->
    <script>
        // the date the date picker wakes up to
        window.anchorDate = JSON.parse('{{ anchor_date | tojson | safe }}')
       // the curve data the yield curve chart wakes up to
        window.curveData = {
            labels: JSON.parse('{{ curve_labels | tojson | safe }}'),
            yields: JSON.parse('{{ curve_yields | tojson | safe }}'),
            dtms: JSON.parse('{{ curve_dtms | tojson | safe }}'),
            prices: JSON.parse('{{ curve_pxs | tojson | safe }}'),
            ids: JSON.parse('{{ curve_ids | tojson | safe }}')
        };
        // the data the summary bar wakes up to
        window.summaryData = JSON.parse('{{ summary_data | tojson | safe }}');
    </script>

    <!-- Call dashboard javascript-->
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    
{% endblock %}

<!-- Fills the main content area (inside the <main> tag) -->
{% block content %}
<!-- 1. TITLE AND DATE SELECTOR -->
    
    <div class="row g-2 mb-2">

        <div class="col-lg-7 col-md-8 col-sm-12
                    text-center text-lg-start">
            <h1 class="mb-0 text-dark fw-bold">Mexico FI Curve Monitor</h1>
        </div>

        <div class="col-lg-5 col-md-4 col-sm-12
                    d-flex justify-content-lg-end justify-content-center
                    align-items-center">
            <label for="date-selector" class="form-label fw-bold text-secondary mb-0 me-2 text-nowrap">
                Curve Date
            </label>
            <input type="text" id="date-selector" class="form-control" placeholder="YYYY-MM-DD">
        </div>
    </div>
    

    <!-- 1. SUMMARY BAR WITH KEY MACRO METRICS -->
    <div class="row mb-3 align-items-center">
        
        <!-- Metric Cards Container -->
        <div class="col-lg-12">
            <div class="row g-1 align-items-stretch">
                
                <!-- TIIE Fondeo Metric -->
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="card shadow-sm border-primary border-4 h-100"
                         data-bs-toggle="tooltip"
                         data-bs-placement="top" 
                         title="Effective Date: {{ summary_data.TIIEF.date }}">
                        <div class="card-body text-center">
                            <h6 class="card-title text-muted mb-2">TIIE Fondeo</h6>
                            <h7 class="card-subtitle fw-bold text-dark">{{summary_data.TIIEF.value}}%</h7>
                        </div>
                    </div>
                </div>
                
                <!-- TIIE28 Metric -->
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="card shadow-sm border-primary border-4 h-100"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top" 
                                title="Effective Date: {{ summary_data.TIIE28.date }}">
                        <div class="card-body text-center">
                            <h6 class="card-subtitle text-muted mb-2">TIIE 28d</h6>
                            <h7 class="card-subtitle fw-bold text-dark">{{summary_data.TIIE28.value}}%</h7>
                        </div>
                    </div>
                </div>

                <!-- Target Rate Metric -->
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="card shadow-sm border-primary border-4 h-100"
                         data-bs-toggle="tooltip"
                         data-bs-placement="top" 
                         title="Effective Date: {{ summary_data.TargetRate.date }}">
                        <div class="card-body text-center">
                            <h6 class="card-subtitle text-muted mb-2">Target Rate</h6>
                            <h7 class="card-subtitle fw-bold text-dark">{{summary_data.TargetRate.value}}%</h7>
                        </div>
                    </div>
                </div>

                <!-- Inflation Metric -->
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="card shadow-sm border-primary border-4 h-100"
                         data-bs-toggle="tooltip"
                         data-bs-placement="top" 
                         title="{{ summary_data.MonthlyCPIYoY.date }}">
                        <div class="card-body text-center">
                            <h6 class="card-subtitle text-muted mb-2">CPI YoY</h6>
                            <h7 class="card-subtitle fw-bold text-dark">{{summary_data.MonthlyCPIYoY.value}}%</h7>
                        </div>
                    </div>
                </div>

                <!-- UDI value -->
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="card shadow-sm border-primary border-4 h-100"
                         data-bs-toggle="tooltip"
                         data-bs-placement="top" 
                         title="Effective Date: {{ summary_data.UDI_MXN.date }}">
                        <div class="card-body text-center">
                            <h6 class="card-subtitle text-muted mb-2">UDI</h6>
                            <h7 class="card-subtitle fw-bold text-dark">{{summary_data.UDI_MXN.value}}</h7>
                        </div>
                    </div>
                </div>

                <!-- USD Exchange rate -->
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="card shadow-sm border-primary border-4 h-100"
                         data-bs-toggle="tooltip"
                         data-bs-placement="top" 
                         title="Effective Date: {{ summary_data.USD_MXN.date }}">
                        <div class="card-body text-center">
                            <h6 class="card-subtitle text-muted mb-2">USD/MXN</h6>
                            <h7 class="card-subtitle fw-bold text-dark">{{summary_data.USD_MXN.value}}</h7>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- 2. CHART SECTION (Yield Curve) -->
    <div class="row g-4">
        
        <!-- Yield Curve Plot -->
        <div class="col-lg-12">
            <div class="card shadow-lg h-100">
                <div class="card-header bg-white">
                    <h5 class="mb-0">Sovereign Yield Curve</h5>
                </div>
                <div class="card-body chart-lg-height">
                    <canvas id="yieldCurveChart"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


